//
//  project.xcconfig
//  usbmuxd
//
//  Created by Aaron Burghardt on 1/30/14.
//
//

//OTHER_LDFLAGS =  -lusb-1.0 -Wl,-search_paths_first -headerpad_max_install_names
OTHER_LDFLAGS =  -lusb-1.0 -headerpad_max_install_names

HEADER_SEARCH_PATHS =  "$(SRCROOT)/common" "/usr/local/include/libusb-1.0"
//"$(SRCROOT)/libusbmuxd"

LIBRARY_SEARCH_PATHS = /usr/local/lib

//:configuration = Debug
GCC_PREPROCESSOR_DEFINITIONS = USBMUXD_DAEMON PACKAGE_NAME="\"usbmuxd\"" PACKAGE_VERSION="\"1.0.9\"" PACKAGE_STRING="\"usbmuxd 1.0.9\"" HAVE_PLIST HAVE_STPCPY
