//
//  usbmuxd-win32.xcconfig
//  usbmuxd-ryan
//
//  Created by Aaron Burghardt on 2/6/14.
//  Copyright (c) 2014 com.blackbagtech. All rights reserved.
//

DSTLIMD = /usr/local/limd.dst

SYSROOT = /usr/local/mingw-w64-bin_i686-darwin_20130615/x86_64-w64-mingw32

//CFLAGS =
LDFLAGS = -static-libgcc -lplist -lpthread -limobiledevice -lssl -lcrypto -lusb-1.0 -lplist -lusbmuxd -lxml2 -lgdi32 -lkernel32 -lws2_32 -lole32

LIBRARY_SEARCH_PATHS = -L$(DSTROOT)/lib -L$(DSTLIMD)/lib

HEADER_SEARCH_PATHS = $(inherited) $(DSTLIMD)/include $(SYSROOT)/include $(DSTLIMD)/include/libusb-1.0
GCC_PREPROCESSOR_DEFINITIONS = WIN32=1 _WIN32_WINNT=0x0600 DHAVE_CONFIG_H HAVE_LIBIMOBILEDEVICE LIBXML_STATIC _POSIX

WRAPPER_EXTENSION = exe
PRODUCT_NAME = $(TARGET_NAME).$(WRAPPER_EXTENSION)
